In [3]:
import pandas as pd
from pandas_profiling import ProfileReport

In [5]:
df=pd.read_csv("FinalDataset.csv")
df

    Year          Subject  Total  1 Mark  2 Marks  Total Number of questions
0   2005  Data Structures     12       4        4                          8
1   2005    Digital Logic      2       2        0                          2
2   2005             Math     17       5        6                         11
3   2005               OS      9       3        3                          6
4   2005      Programming      5       1        2                          3
..   ...              ...    ...     ...      ...                        ...
80  2021  Data Structures      8       2        3                          5
81  2021    Digital Logic      4       2        1                          3
82  2021             Math     17       5        6                         11
83  2021               OS      5       3        1                          4
84  2021      Programming      3       1        1                          2

[85 rows x 6 columns]

In [7]:
profile= ProfileReport(df)
profile.to_file(output_file="report.pdf")

Summarize dataset:   0%|          | 0/19 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

C:\Users\SR\anaconda3\lib\site-packages\pandas_profiling\profile_report.py:266: UserWarning: Extension .pdf not supported. For now we assume .html was intended. To remove this warning, please use .html or .json.
  warnings.warn(

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [11]:
import matplotlib.pyplot as plt

In [12]:
df1=pd.read_excel("Book1.xlsx")

In [13]:
df1

,Year,Subject,Topic,1 mark questions,2 marks questions,total no. of questions,total marks
0,2020,Mathematics,Engg Maths II,2,2,4,6
1,2020,Mathematics,Engg Maths III,3,0,3,3
2,2019,Mathematics,Engg Maths I,2,0,2,2
3,2019,Mathematics,Engg Maths II,2,0,2,2
4,2019,Mathematics,Engg Maths III,1,2,3,5
5,2018,Mathematics,Engg Maths I,3,1,4,5
6,2018,Mathematics,Engg Maths II,1,0,1,1
7,2018,Mathematics,Engg Maths III,2,1,3,4
8,2017,Mathematics,Engg Maths I,1,2,3,5
9,2017,Mathematics,Engg Maths II,1,2,3,5
10,2017,Mathematics,Engg Maths III,2,1,3,4
11,2016,Mathematics,Engg Maths I,2,2,4,6
12,2016,Mathematics,Engg Maths II,3,0,3,3
13,2016,Mathematics,Engg Maths III,2,1,3,4
14,2015,Mathematics,Engg Maths I,2,2,4,6
15,2015,Mathematics,Engg Maths II,3,1,4,5
16,2015,Mathematics,Engg Maths III,1,0,1,1
17,2014,Mathematics,Engg Maths I,3,2,5,7
18,2014,Mathematics,Engg Maths II,1,1,2,3
19,2014,Mathematics,Engg Maths III,2,0,2,2
20,2013,Mathematics,Engg Maths I,1,0,1,1
21,2013,Mathematics,Engg Maths II,2,1,3,4
22,2013,Mathematics,Engg Maths III,3,1,4,5
23,2012,Mathematics,Engg Maths I,3,1,4,5
24,2012,Mathematics,Engg Maths II,2,0,2,2
25,2012,Mathematics,Engg Maths III,2,1,3,4
26,2011,Mathematics,Engg Maths I,2,1,3,4
27,2011,Mathematics,Engg Maths II,1,1,2,3
28,2011,Mathematics,Engg Maths III,2,2,4,6
29,2010,Mathematics,Engg Maths I,2,1,3,4
30,2010,Mathematics,Engg Maths II,1,1,2,3
31,2010,Mathematics,Engg Maths III,3,0,3,3

KeyError: 'Engg Maths I'